* {
    font-family: 'Kanit', sans-serif;
}

p {
    font-size: 18px;
    color: #707070;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 60px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.fa:hover {
    opacity: 20;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}

.a-color {
    color: #1073B8;
}


/* Style the buttons that are used to open and close the accordion panel */

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}


/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */

.active,
.accordion:hover {
    background-color: #ccc;
}


/* Style the accordion panel. Note: hidden by default */

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
}

.accordion:after {
    content: '\02795';
    /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: left;
    margin-left: 5px;
}

.active:after {
    content: "\2796";
    /* Unicode character for "minus" sign (-) */
}

.img-top {
    width: 100%;
    height: 350px;
    background-repeat: no-repeat;
    object-fit: cover;
}

.top {
    position: relative;
    text-align: center;
}

.start-1 {
    position: absolute;
    top: 100px;
    left: 300px;
    background-color: #bb0000;
}

.start-2 {
    font-size: 40px;
    position: absolute;
    top: 170px;
    left: 300px;
}

.start-3 {
    /* font-size: 40px; */
    position: absolute;
    /* top: 180px; */
    /* left: 300px; */
    border-top: 3px solid red;
}

.img-logo-nav {
    width: 250px;
    height: 60px;
    margin-left: 0;
}